
@{
    ViewData["Title"] = "Index";
}
<script src="~/js/WebSocket.js"></script>
<h2>Index</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">WebSocket</p>
    </div>
    <div class="panel-body">
        <input class="input-lg" type="file" />
        <button class="btn btn-default btn-lg" onclick="openWebsocket()">open</button>
        <button class="btn btn-default btn-lg" onclick="sendFile()">open</button>

    </div>
</div>

