
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form  asp-route="Login">
    <input name="UserName" type="text" />
    <input name="UserPassword" type="password" />
    <button type="submit">Submit</button>
</form>

